.list__item {
    margin: 10px;
    background: black;
    height: 50px;
}

.list__item--hidden {
    display: none;
}

.list--all-hidden-visible .list__item--hidden{
    display: block;
}